{% extends "main_template.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="card">
                    <h4 class="card-header text-center">Login</h4>
                    <div class="card-block">
                        <form method="post" action="/login">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input name="email" type="text" class="form-control">
                            </div>
                            {% if messages %}
                            {%for message in messages %}
                            {%if "email" in message.tags %}
                            <div class="form-group text-danger">
                                <div class="form-control-feedback">{{message}}</div>
                            </div>
                            {%endif%} {%endfor%} {% endif %}
                            <div class="form-group">
                                <label>Password</label>
                                <input name="password" type="password" class="form-control">
                            </div>
                            {% if messages %}
                            {%for message in messages %}
                            {%if "pass" in message.tags %}
                            <div class="form-group text-danger">
                                <div class="form-control-feedback">{{message}}</div>
                            </div>
                            {%endif%} {%endfor%} {% endif %}
                            <div class="mx-auto text-center">
                                <input type="submit" value="Login" class="btn btn-primary">
                                <a href="register">Signup</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}